<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>139159886628-s3gdjvbjp0bjsj7eod9agmrlekgbr6gl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.139159886628-s3gdjvbjp0bjsj7eod9agmrlekgbr6gl</string>
	<key>API_KEY</key>
	<string>AIzaSyC39nAaP8OkaXlAWrO6UwEq0V4_bEbZ7i4</string>
	<key>GCM_SENDER_ID</key>
	<string>139159886628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.parth-bhavsar.JoyRide</string>
	<key>PROJECT_ID</key>
	<string>joyride-bd633</string>
	<key>STORAGE_BUCKET</key>
	<string>joyride-bd633.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:139159886628:ios:1081f95d099718c51271b1</string>
</dict>
</plist>